flask
flask_sqlalchemy
flask_marshmallow
marshmallow-sqlalchemy
marshmallow<3.21.0
flask_bcrypt
flask_login
flask_jwt_extended
flask_restful
flask_cors
spacy
scikit-learn
sentence-transformers
redis
python-dotenv
joblib
typer
chardet
pymysql
gunicorn
mysqlclient